:root {
    --primary-color-light: #1ba5d3;
    --color-light: white;
    --color-dark: black;
    --color-right: lime;
    --color-wrong: red;
}

*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hide;
    margin: 0;
    padding: 0;
    transition: 500ms;
    color: white;
}

@media only screen and (max-width: 400px) {
  body {
    background-color: #F09A9D; /* Red */
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #F5CF8E; /* Yellow */
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    body {
        width: 100vw;
        height: 100vh;
        /* display: flex;
        justify-content: center;
        align-items: center; */
        margin: 0px;
        background-color: black;
    }
    input:focus {
        outline: 0px;
        border-color: white;
    }
    input {
        border-color: #424242;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        width: 300px;
        height: 50px;
        background-color: transparent;
        text-align: center;
        font-size: 1em;
    }
    button {
        margin: 15px;
        width: 200px;
        height: 50px;
        text-align: center;
        font-size: 1em;
        background-color: transparent;
        border-color: white;
    }
    button:focus {
        outline: 0px;
    }
    button:active {
        transition: 10ms;
        width: 180px;
        height: 40px;
        background-color: white;
        border-color: black;
        color: black;
    }
    button:hover {
        background-color: white;
        border-color: black;
        color: black;
    }
    footer {
        height: 20%;
        font-size: 0.75em;
    }
    h1 {
        font-size: 3em;
    }
    .title-container {
        height: 20%;
        width: 100%;
    }
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .info-container {
        height: 60%;
    }
    .flex-bottom {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    .game-code {
        font-size: 4em;
        font-weight: bold;
        margin-left: 30px;
        color: red;
    }
    .full-height {
        height: 100%;
    }
    .half-height {
        height: 50%;
    }
    .grid {
        display: grid;
    }
    .btn-disabled {
        background-color: grey;
        color: black;
        border-color: black;
    }
    .btn-disabled:hover {
        background-color: grey;
    }
    .equation_container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;
    }
    .equation_name_container {
        width: 300px;
        height: 50px;
        font-size: 1em;
        text-align: center;
    }
    .equation_formula_container {
        width: 300px;
        height: 50px;
        font-size: 1em;
        text-align: center;
    }
}
